# **DSBA 6165 - Lab 1: EDA**

Professor: Rick Chakra

TA: Geethika Balasubramanian

# Inital Steps

The first step is to import the libraries that you will use and to import the data.

In [ ]:
#Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Before importing data into Jupyter notebook, you must import file into Colab.
**This step must be repeated whenever runtime restarts.**

When importing the data you have two options for how to name the data.

1. Use a non-discriptive name such as data. Only use if only 1 dataset is being imported
2. Use a discriptive name such as cars. This can be used in all scenarios.

In [ ]:
#Importing Dataset

The next step is to look at the data as a whole. Some of the methods include but are not limited to
1. Looking at the top of the data
2. Looking at the bottom of the data
3. Looking at spread of data
4. Looking at information about the columns

In [ ]:
#Looking at top 5 Rows

In [ ]:
#Looking at bottom 5 rows

Looking at the top and bottom of the data doesn't tell you much about the data as a whole. These steps can be useful when you don't know what the data looks like and looking at this can help give basic information about the data such as examples of what kind of data populates each of the columns.

The next two methods of looking at the data will give us a better idea of how the data looks as a whole.

In [ ]:
#Look at data spread including object variables (transposed)

In [ ]:
# Explore Cardinality


# Explore Cardinality by Count

In [ ]:
#Look at data types, non-null counts and data types

The last step of just looking at the data is looking at nulls becuase Null values often can't be used by machine learning packages so its a good idea to see where the nulls are.

In [ ]:
#Null Counts per column

In [ ]:
#Null % per each column

# Feature Engineering
Now that we have a general idea of what the data, the first step is to get rid of superflous columns.
1. S.No. is an ID column, these do nothing but tick for each row and thus arent useful.
2. New_Price is missing >85% of its data. This will make it hard to impute missing values.

In [ ]:
# Remove S.No. column from data
data = data.drop(['S.No.'], axis = 1)
# Remove New_Price column from data

#look at updated data
data.info()

NameError: name 'data' is not defined

The year column tells us how old the car is. It will be easier to preform calculations with this information if we create an age column to have the age of the car in its own column.

In [ ]:
from datetime import date
#Create todays year and then calculate


#Look at top of data to see updated column
data.head()

The name column is holding multiple pieces of information within it. It is telling us the Brand of the car and the model of the car. Let's pull those into additonal columns.

In [ ]:
data['Brand'] = data.Name.str.split().str.get(0)
data['Model'] = data.Name.str.split().str.get(1) + " " + data.Name.str.split().str.get(2)
data[['Name','Brand','Model']]

Lastly lets look a bit deeper into the columns we made to see if any brand names are incorrect

In [ ]:
#Names of all brands in Brand Columns

#Number of unique brands

We can see that there are two different unique names for the Isuzu brand and Land isn't a car brand (the correct name is Land Rover).

So lets fix that!

In [ ]:
data["Brand"].replace({"ISUZU": "Isuzu","Land":"Land Rover"}, inplace=True)

The last step before we can preform EDA on the data is to seperate the numerical and categorical variables. But first there are a couple of columns that arent the correct type as the include units

In [ ]:
#Converting column types of Mileage , Engine , Power
data['Mileage'] = data.Mileage.str.split().str.get(0)
data['Engine'] = data.Engine.str.split().str.get(0)
data['Power'] = data.Power.str.split().str.get(0)

data["Mileage"] = data["Mileage"].astype(float)
data["Engine"] = data["Engine"].astype(float)
data["Power"].replace({"null": None}, inplace=True)
data["Power"] = data["Power"].astype(float)

In [ ]:
# run describe again after correcting data

Let's also try binning on mileage to turn it into a categorical variable! We are going to do 4 bins to split the data into quarters

In [ ]:
#Bin Mileage via equal width binning

#Convert from categorical into str (This is so it can be used like our other categorical variables below)


#binned outputs

In [ ]:
#Seperate columns based on data type and print lists of each type
cat_cols = data.select_dtypes(include=['object','string']).columns
num_cols = data.select_dtypes(include=np.number).columns.tolist()
print("Categorical Variables:")
print(cat_cols)
print("Numerical Variables:")
print(num_cols)

# EDA - Exploratory Data Analysis

The First step of EDA is to create histograms and box plots for the numerical variables. (Some people use the describe() command in EDA rather than the first step of data processing)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

for col in num_cols:
    print('\n')
    print(col)
    print('Skew :', round(data[col].skew(), 2))

    plt.figure(figsize=(15, 4))

    # Distribution Plot
    plt.subplot(1, 2, 1)
    sns.histplot(data[col], kde=True, color='#04213b')
    plt.title(f'Distribution of {col}')
    plt.xlabel(col)
    plt.ylabel('Count')

    # Box Plot
    plt.subplot(1, 2, 2)
    sns.boxplot(x=data[col], color='grey')
    plt.title(f'Boxplot of {col}')
    plt.xlabel(col)

    plt.tight_layout()
    plt.show()

Handle the Kilometers Driven Outlier

In [ ]:
# remove kilometers driven outlier



# rerun plots

Next we will create count plots for the categorical variables!

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

fig, axes = plt.subplots(3, 2, figsize=(22, 22))
fig.suptitle('Count Plots for Categorical Variables')

# Bar Plot with Count Labels
sns.countplot(ax=axes[0, 0], x='Fuel_Type', data=data, palette='viridis',
              order=data['Fuel_Type'].value_counts().index)
axes[0, 0].set_title('Fuel Type Distribution')
for p in axes[0, 0].patches:
    axes[0, 0].annotate(f'{p.get_height()}', (p.get_x() + p.get_width() / 2., p.get_height()),
                        ha='center', va='center', xytext=(0, 10), textcoords='offset points')

# Horizontal Bar Plot with Count Labels
sns.countplot(ax=axes[0, 1], y='Transmission', data=data, palette='viridis',
              order=data['Transmission'].value_counts().index)
axes[0, 1].set_title('Transmission Distribution')
for p in axes[0, 1].patches:
    axes[0, 1].annotate(f'{p.get_width()}', (p.get_x() + p.get_width(), p.get_y() + p.get_height() / 2.),
                        ha='right', va='center', xytext=(-10, 0), textcoords='offset points')

# Horizontal Bar Plot with Percentage Labels
sns.countplot(ax=axes[1, 0], y='Owner_Type', data=data, palette="viridis",
              order=data['Owner_Type'].value_counts().index)
axes[1, 0].set_title('Owner Type Distribution')
for p in axes[1, 0].patches:
    axes[1, 0].annotate(f'{p.get_width()}', (p.get_x() + p.get_width(), p.get_y() + p.get_height() / 2.),
                        ha='right', va='center', xytext=(10, 0), textcoords='offset points',rotation=-90)

# Count Plot
sns.countplot(ax=axes[1, 1], x='Location', data=data, palette='viridis',
              order=data['Location'].value_counts().index)
axes[1, 1].set_title('Location Distribution')
for p in axes[1, 1].patches:
    axes[1, 1].annotate(f'{p.get_height()}', (p.get_x() + p.get_width() / 2., p.get_height()),
                        ha='center', va='center', xytext=(0, 10), textcoords='offset points')

# Horizontal Bar Plot with Top 10 Brands and Count Labels
sns.countplot(ax=axes[2, 0], y='Brand', data=data, palette='viridis',
              order=data['Brand'].value_counts().iloc[:10].index)
axes[2, 0].set_title('Top 10 Brands')
for p in axes[2, 0].patches:
    axes[2, 0].annotate(f'{p.get_width()}', (p.get_x() + p.get_width(), p.get_y() + p.get_height() / 2.),
                        ha='right', va='center', xytext=(-10, 0), textcoords='offset points',color='white')

# Horizontal Bar Plot with Top 10 Models and Count Labels
sns.countplot(ax=axes[2, 1], y='Model', data=data, palette='viridis',
              order=data['Model'].value_counts().iloc[:10].index)
axes[2, 1].set_title('Top 10 Models')
for p in axes[2, 1].patches:
    axes[2, 1].annotate(f'{p.get_width()}', (p.get_x() + p.get_width(), p.get_y() + p.get_height() / 2.),
                        ha='right', va='center', xytext=(-10, 0), textcoords='offset points',color='white')

# Adjust tick labels for better readability
axes[1, 1].tick_params(axis='y', labelrotation=0)
axes[2, 0].tick_params(axis='y', labelrotation=0)
axes[2, 1].tick_params(axis='y', labelrotation=0)

plt.tight_layout(rect=[0, 0, 1, 0.96])  # Adjust subplot layout for the title
plt.show()

To do Bi-variate Analysis, the numerical variables with a large range need to be converted into logs so that they can be compared with other numerical variables

In [ ]:
# Function for log transformation of the column
def log_transform(data,col):
    for colname in col:
       #Fill In

In [ ]:
#Log transformation of both columns (KM & $$)
log_transform(data,['Kilometers_Driven','Price'])
#Plot of Log transformation of the feature 'Kilometers_Driven'
sns.histplot(data["Kilometers_Driven_log"],kde=True);

#Drop old columns

In [ ]:
#Plot of Log transformation of the feature 'Price'

**Its time for Bi-variate Analysis!**

Let's dive deep into the realtionships between the categorical variables using stacked bar charts!

In [ ]:
plt.figure(figsize=(13,17))
#Fill In
plt.show()

The plot above provides the following insights:

* The variable Year has a positive correlation with price and mileage
* A year has a Negative correlation with kilometers-Driven
* Mileage is negatively correlated with Power
* As power increases, mileage decreases
* Car with recent make is higher at prices. As the age of the car increases price decreases
* Engine and Power increase, and the price of the car increases

Lets Look at the variation in Price with Categorical Variables

In [ ]:
#  Violin plot
import seaborn as sns
sns.violinplot(data=data, x="Transmission", y="Price_log")

The concentration of prices for both automatic and manual cars is visually evident, with **automatic cars exhibiting a notably higher pricing trend**.

In [ ]:
import matplotlib.pyplot as plt
# Set the figure size
plt.figure(figsize=(12, 8))

# Violin Plot with Increased Width
sns.violinplot(data=data, x="Seats", y="Price_log", scale="width", width=1,pallette='viridis')

# Add title and labels
plt.title('Violin Plot of Seats vs Price_log')
plt.xlabel('Seats')
plt.ylabel('Price_log')

plt.show()

The highest price range is observed among 2-seater cars, prompting further analysis to understand the underlying reasons. Additionally, the distribution of 4-seater cars indicates a diverse range, encompassing both budget-friendly options and higher-priced vehicles.

In [ ]:

# Set the figure size
plt.figure(figsize=(12, 8))

# Strip Plot
sns.stripplot(data=data, x="Fuel_Type", y="Price_log")

plt.title('Stripplot of Fuel_Type vs Price_log ')
plt.xlabel('Fuel Type')
plt.ylabel('Price_log')

plt.show()

**The price ranges for petrol and diesel cars exhibit a wider distribution, indicating a broad spectrum of prices**. Diesel cars in general exhibit a higher price range. In contrast, the number of used electric cars is limited; however, their prices are relatively higher.

In [ ]:
plt.figure(figsize=(15, 10))
sns.scatterplot(x='Power',y='Price_log',hue='Transmission',data=data)
plt.show()

Automatic vehicles exhibit **higher power and price ranges** compared to the Manual Vehicles. For both the Transmission categories, the Price increases as the power increases.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt


# Set the figure size and create subplots with Seaborn
fig, axarr = plt.subplots(3, 2, figsize=(18, 18))
plt.subplots_adjust(hspace=1.0)
plt.subplots_adjust(wspace=.5)

# Plotting using Seaborn with viridis color palette
sns.barplot(x='Location', y='Price_log', data=data.groupby('Location')['Price_log'].mean().sort_values(ascending=False).reset_index(), ax=axarr[0, 0],palette='viridis')
axarr[0, 0].set_title("Location Vs Price", fontsize=18)
axarr[0, 0].set_xlabel('Location')
axarr[0, 0].set_ylabel('Price_log')
axarr[0, 0].set_xticklabels(axarr[0, 0].get_xticklabels(), rotation=45, ha='right')

sns.barplot(x='Fuel_Type', y='Price_log', data=data.groupby('Fuel_Type')['Price_log'].mean().sort_values(ascending=False).reset_index(), ax=axarr[0, 1],palette='viridis')
axarr[0, 1].set_title("Fuel_Type Vs Price", fontsize=18)
axarr[0, 1].set_xlabel('Fuel_Type')
axarr[0, 1].set_ylabel('Price_log')

sns.barplot(x='Owner_Type', y='Price_log', data=data.groupby('Owner_Type')['Price_log'].mean().sort_values(ascending=False).reset_index(), ax=axarr[1, 0],palette='viridis')
axarr[1, 0].set_title("Owner_Type Vs Price", fontsize=18)
axarr[1, 0].set_xlabel('Owner_Type')
axarr[1, 0].set_ylabel('Price_log')

sns.barplot(x='Brand', y='Price_log', data=data.groupby('Brand')['Price_log'].mean().sort_values(ascending=False).head(10).reset_index(), ax=axarr[1, 1],palette='viridis')
axarr[1, 1].set_title("Brand Vs Price", fontsize=18)
axarr[1, 1].set_xlabel('Brand')
axarr[1, 1].set_ylabel('Price_log')
axarr[1, 1].set_xticklabels(axarr[1, 1].get_xticklabels(), rotation=45, ha='right')

sns.barplot(x='Model', y='Price_log', data=data.groupby('Model')['Price_log'].mean().sort_values(ascending=False).head(10).reset_index(), ax=axarr[2, 0],palette='viridis')
axarr[2, 0].set_title("Model Vs Price", fontsize=18)
axarr[2, 0].set_xlabel('Model')
axarr[2, 0].set_ylabel('Price_log')
axarr[2, 0].set_xticklabels(axarr[2, 0].get_xticklabels(), rotation=45, ha='right')

sns.barplot(x='Car_Age', y='Price_log', data=data.groupby('Car_Age')['Price_log'].mean().sort_values(ascending=False).reset_index(), ax=axarr[2, 1],palette='viridis')
axarr[2, 1].set_title("Car_Age Vs Price", fontsize=18)
axarr[2, 1].set_xlabel('Car_Age')
axarr[2, 1].set_ylabel('Price_log')

# Remove spines
sns.despine()

plt.show()

Observations

1. The price of cars is high in Coimbatore and less price in Kolkata and Jaipur
2. Automatic cars have more price than manual cars.
3. Diesel and Electric cars have almost the same price, which is maximum, and 4. LPG cars have the lowest price
5. First-owner cars are higher in price, followed by a second
6. The third ownerâ€™s price is lesser than the Fourth and above
7. Lamborghini brand is the highest in price
8. Gallardocoupe Model is the highest in price
9. 2 Seater has the highest price followed by 7 Seater
10. The latest model cars are high in price

**Last but not least we have Multivariate Analysis**

A very common way to look at correlation between variables is through Heat maps.

In [ ]:
plt.figure(figsize=(12, 7))
#Fill In
plt.show()

In [ ]:
#Multivariate Violin Plot Analysis.
# Set the figure size
plt.figure(figsize=(25, 15))

# Violin plot with increased size
sns.catplot(x="Fuel_Type", y="Price_log",
                hue="Transmission",
                data=data, kind="violin", split=True,
                height=6, aspect=1.2,density_norm='width')  # Adjusted height and aspect for increased size

plt.title('Violin Plot of Fuel_type vs Price_log')
plt.xlabel('Fuel_Type')
plt.ylabel('Price_log')

plt.show()

Among Automatic Range of cars, Diesel cars have higher price range compared to all other type of fuels. However among the manual cars, the variation is comparitively less.

# Imputation of Variables

Since we have seats, engine, and power of cars that are missing we need a way to fill them in. Lets Go through Different ways of imputation!

In [ ]:
#Replace Seats with ....

#Replace Engine with ....

#Replace Power with ....

In [ ]:
#Test if it worked